<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OreosDrib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B0B47A81EE6A121006288FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B0B47BE1EE6A121006288FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B0B47C91EE6A121006288FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95A445C61F61EBD7000D483F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95A445D41F61EC7C000D483F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
